{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "@babel"
  ],

  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },

  "env": {
    "browser": true,
    "es2021": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb"
  ],

  "rules": {
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/prop-types": "off",
    "no-unused-expressions": "off",
    "react/jsx-props-no-spreading": "off",
    "react/button-has-type": "off",
  }
}
